name: Build and Release Extension Charts

on:
  # >>> AQUI VA LA SECCIÓN INPUTS <<<
  workflow_dispatch:
    inputs: # <--- ¡Mover aquí!
      tagged_release:
        description: 'Tag (Ej: cluster-log-extension-0.1.0)'
        required: true
        default: 'v0.0.0'
      target_branch:
        description: 'Rama de destino'
        required: true
        default: 'gh-pages'
      # ... y el resto de inputs que tenías (is_test, create_pr, etc.)

  release:
    types: [released]
    
# ... (Removemos la sección "inputs:" global)
